/*
	@name maprc
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; height:100px; width:100px; font-family:"Arial";  }

html,body {
    margin:0;
    padding:0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	
}
html{
	background-size: cover;
}
/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; size:cover;}

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { width: 100%; height: 100%;  overflow: hidden; display: block;  margin: 0px; padding: 0px;}

.bg {
	background-image: url("https://almashines.s3.dualstack.ap-southeast-1.amazonaws.com/assets/images/cover/102.jpg?v=1589443361");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	left:0px;
  }
/* .want_to_see {
	overflow: hidden;
	font-family: Gilroy;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#3E5118;
} */
.row{
	width:360px;
}
.title-image{
	text-align: left;
}
.heading{
	margin-bottom: 0vh;
	padding-top: 10vh;
	padding-left:15vw;
	top:100vh;
	font-family: Gilroy;
	font-size: 3vh;
	width:80vw;
	font-weight: bold;
	
	color:#3E5118;
}
.heading2 {
	
	padding-left:10vw;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size:5.5vh;
	width:70vw;
	text-align: left;
	line-height: 80px;
	color:#FFFFFF;
}
.button{
	position: absolute;
	left: 80vw;
	margin-top: 12vh;
	padding-left:70vw;

}
#MAPRC_logo_info{
	padding-top:75vh;
}

.this_website_is_managed_by_maprc___iit_gandhinagar {
	position:absolute;
	top:6vh;
	padding-left: 20vw;
	padding-top: 3vh;
	width: 90vw;
	height: 45px;;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 2vh;
	
	
	height: 95px;
	color:#FFFFFF;
}

.title-image{
	position:absolute;
	left:5vw;
	padding-top:0vh;
	width:20vw;
	padding-left:10vw;
}
.col-lg-6{
	width:40vw;
}
.row2{
	width:90vw;
}
.previous_year {
	position:absolute;
	left:16vw;
	top:7vh;
	width:200px;
	height:200px;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 2vh;
	
	
	
	
	color:#FFFFFF;
}


.year_book_of_class_2021 {
	position:absolute;
	top:13vh;
	right:20vw;
	width:50vw;
	
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 2vh;
	text-align:right;
	
	color:#FFFFFF;
}


.year_book_of_class_2020 {
	position:absolute;
	right:20vw;
	top:10vh;
	width:50vw;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 2vh;
	text-align: right;
	
	
	color:#FFFFFF;
} 

#vector{
	position: absolute;
	top:40vh;
	right:5vw;
}
#vector_ek1{
	position: absolute;
	top:45vh;
	right:5vw;
}
#vector_ek2{
	position: absolute;
	top:50vh;
	right:5vw;
}
#vector_ek3{
	position: absolute;
	top:55vh;
	right:5vw;
}
.logo{
	position:absolute;
	top:3vh;
	left:10vw;
	width:20vh;
}


@media only screen and (max-width : 1100px){
.logo{
	position:absolute;
	top:-7vh;
	right:20vw;
	margin-left: 150px;
	

}

}
@media only screen and (max-width : 772px){
	.logo{
		position:absolute;
		top:-7vh;
		right:20vw;
		margin-left: 17vw;
	}
	.previous_year{
		margin-top: 55px;
		margin-left:30px;;
		font-size: 1.9vh;
	}
	
	}
